{% extends "base.html" %}

{% block headcontent %}
<title>Student</title>
{% endblock %}

{% block content %}
<dl class="row">
  <dt class="col-sm-3">Name<dt>
  <dd class="col-sm-9">{{ data.first_name }} {{ data.last_name }}</dd>

  <dt class="col-sm-3">Grade<dt>
  <dd class="col-sm-9">{{ data.grade }}</dd>

  <dt class="col-sm-3">School DBN<dt>
  <dd class="col-sm-9">{{ data.schoolDBN }}</dd>

  <dt class="col-sm-3">OSIS<dt>
  <dd class="col-sm-9">{{ data.osis_number }}</dd>
</dl>

<h3>IEP Mandates</h3>
<dl class="row" id="iep_dl"></dl>

{% endblock %}

{% block endcontent %}
<script>
  function addRuleButton(targetnode, iep_id) {
    //given an iep_id, will add a button to it at targetnode
    var rule_dd = document.createElement('dd');
    rule_dd.classList.add('col-sm-9');
    var rule_button = document.createElement('button');
    var text_node = document.createTextNode('Add Rule');
    rule_button.classList.add('btn');
    rule_button.classList.add('btn-primary');
    rule_button.setAttribute('type', 'button');
    rule_button.appendChild(text_node);
    rule_button.onclick = function(event) {
      window.location.href = "/rule/new?iep=" + iep_id;
    };
    rule_dd.appendChild(rule_button);
    targetnode.appendChild(rule_dd);
  }

  function displayRule(targetnode, rule) {
    //given a rule object, will display it at targetnode
    var text_node = document.createTextNode("rule goes here");
    var rule_dd = document.createElement('dd');
    rule_dd.classList.add('col-sm-9');
    rule_dd.onclick = function(event) {
      window.location.href = "/rule/" + rule.rule_id;
    };
    targetnode.appendChild(rule_dd);
  }

  function displayMandate(targetnode, mandate) {
    //given a mandate object, will display it at targetnode
    var text_node = document.createTextNode(mandate.type + ": " + mandate.frequency + "x" + mandate.duration + "x" + mandate.group_size);
    var mandate_node = document.createElement('dt');
    mandate_node.classList.add("col-sm-3");
    mandate_node.appendChild(text_node);
    mandate_node.onclick = function(event) {
      window.location.href = "/iep/" + mandate.iep_id;
    };
    targetnode.appendChild(mandate_node);
  }

  document.addEventListener('DOMContentLoaded', function() {
    var iep_dl = document.querySelector('#iep_dl');
    //add mandates
    $.getJSON("/iep?student_id={{ data.student_id }}", function(data) {
      data.forEach(function(mandate) {
        displayMandate(iep_dl, mandate);

        //now add rules for this mandate (if any)
        $.getJSON("/rules?mandate_id=" + mandate.iep_id, function(data) {
          data.forEach(function(rule) {
            displayRule(iep_dl, rule);
          });
        });

        //now add "add rule" button
        addRuleButton(iep_dl, mandate.iep_id);
      });
    });
  });
</script>
{% endblock %}