{% extends "base.html" %}

{% block headcontent %}
<title>Student: {{ data.first_name }} {{ data.last_name }}</title>
{% endblock %}

{% block content %}
<dl class="row">
  <dt class="col-sm-3">Name<dt>
  <dd class="col-sm-9">{{ data.first_name }} {{ data.last_name }}</dd>

  <dt class="col-sm-3">Grade<dt>
  <dd class="col-sm-9">{{ data.grade }}</dd>

  <dt class="col-sm-3">School DBN<dt>
  <dd class="col-sm-9">{{ data.schoolDBN }}</dd>

  <dt class="col-sm-3">OSIS<dt>
  <dd class="col-sm-9">{{ data.osis_number }}</dd>
</dl>

<button type="button" class="btn btn-primary" onclick="window.location.href='/testcalendar?calendarTitle={{ data.first_name }}%20{{ data.last_name}}&student_id={{ data.student_id }}';">
  Calendar View
</button>

<h3>IEP Mandates</h3>
<ul class="list-group" id="iep_ul"></ul>

<button type="button" class="btn btn-primary" onclick="window.location.href='/mandate/new?student_id={{ data.student_id }}';">
  Add Mandate
</button>

{% endblock %}

{% block endcontent %}
<script>
  function ordinal(d) {
    var i = parseInt(d, 10);
    if (i > 3 && i < 21) return 'th';
    switch (i % 10) {
      case 1:
        return "st";
      case 2:
        return "nd";
      case 3:
        return "rd";
      default:
        return "th";
    }
  }

  function displayRule(targetnode, rule) {
    //given a rule object, will display it at targetnode
    var intervalText = "";
    if (rule.interval == "1") {
      intervalText = "every week";
    } else {
      intervalText = "every " + rule.interval + ordinal(rule.interval) + " week";
    }
    var daysofweek = [];
    if (rule.monday) {
      daysofweek.push("M")
    }
    if (rule.tuesday) {
      daysofweek.push("Tu")
    }
    if (rule.wednesday) {
      daysofweek.push("W")
    }
    if (rule.thursday) {
      daysofweek.push("Th")
    }
    if (rule.friday) {
      daysofweek.push("F")
    }
    var text_node = document.createTextNode(rule.location + " " + daysofweek.join() + " " + intervalText + " for " + rule.duration + " min. by " + rule.provider_id);
    var li_node = document.createElement('li');
    var a_node = document.createElement('a');
    a_node.href = "/rule/" + rule.rule_id;
    a_node.appendChild(text_node);
    li_node.appendChild(a_node);
    targetnode.appendChild(li_node);
  }

  function displayMandate(targetnode, mandate) {
    //add list group heading (with iep mandate)
    var node = document.createElement('div');
    node.classList.add('d-flex', 'w-100', 'justify-content-between');
    var text_node = document.createTextNode(mandate.type + ": " + mandate.frequency + "x" + mandate.duration + "x" + mandate.group_size);
    var a_node = document.createElement('a');
    a_node.href = "/mandate/" + mandate.iep_id;
    a_node.appendChild(text_node);
    var listGroupHeading = document.createElement('h5');
    listGroupHeading.classList.add("db-1");
    listGroupHeading.appendChild(a_node);
    node.appendChild(listGroupHeading);

    //add the rule_button
    var rule_button = document.createElement('button');
    var text_node = document.createTextNode('Add Rule');
    rule_button.classList.add('btn', 'btn-primary');
    rule_button.setAttribute('type', 'button');
    rule_button.appendChild(text_node);
    rule_button.onclick = function(event) {
      window.location.href = "/rule/new?iep_id=" + mandate.iep_id;
    };
    node.appendChild(rule_button);

    targetnode.appendChild(node);
  }

  document.addEventListener('DOMContentLoaded', function() {
    var iep_ul = document.querySelector('#iep_ul');
    //add mandates
    $.getJSON("/iep?student_id={{ data.student_id }}", function(data) {
      data.forEach(function(mandate) {
        //create new li text_node
        var iep_li = document.createElement('li');
        iep_li.classList.add("list-group-item");

        //add top half of listgroup (iep and button)
        displayMandate(iep_li, mandate);
        //put li element into ul
        iep_ul.appendChild(iep_li);

        //now add rules for this mandate (if any)
        var rule_ul = document.createElement('ul');
        iep_li.appendChild(rule_ul);

        $.getJSON("/rules?mandate_id=" + mandate.iep_id, function(data) {
          data.forEach(function(rule) {
            displayRule(rule_ul, rule);
          });
        });
      });
    });
  });
</script>
{% endblock %}