{% extends "base.html" %}

{% block headcontent %}
<title>Students</title>
{% endblock %}

{% block content %}
<table class="table" id="studentTable">
  <caption>List of students</caption>
</table>

{% endblock %}

{% block endcontent %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var studentTable = document.querySelector('#studentTable');
    var keys = ["student_id", "first_name", "last_name", "grade", "osis_number", "schoolDBN"];
    var tableHead = document.createElement('thead');
    var tableHeadRow = document.createElement('tr');
    tableHead.appendChild(tableHeadRow);
    studentTable.appendChild(tableHead);

    keys.forEach(function(item, index) {
      var thcell = document.createElement('th');
      var textnode = document.createTextNode(item);
      thcell.appendChild(textnode);
      tableHeadRow.appendChild(thcell);
    });

    var tbody = document.createElement('tbody');
    studentTable.appendChild(tbody);

    $.getJSON("/students/json", function(data) {
      data.forEach(function(obj, key) {
        var trow = document.createElement('tr');
        trow.onclick = function(event) {
          window.location.href = "/student/" + obj.student_id;
        };

        tbody.appendChild(trow);

        keys.forEach(function(item, index) {
          var textnode = document.createTextNode(obj[item]);
          var tcell = document.createElement('td');
          tcell.appendChild(textnode);
          trow.appendChild(tcell);
        });
      });
    });

  });
</script>
{% endblock %}